parameters:
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model

    ignoreErrors:
        # Spatie Permission agrega métodos dinámicos que PHPStan no puede detectar
        - message: '#Call to an undefined method .+::(hasRole|assignRole|hasPermissionTo|getAllPermissions|getRoleNames)\(\)#'
          path: tests/*
